<h1>Thank for your registration</h1>
<p>To finish registration please follow the link below:
  <a href='https://homeworks-git-homework10-v-wolfy.vercel.app/auth/registration-confirmation?code={{ code }}'>complete registration</a>
</p>